.fa-shopping-cart {
  color: #ff6908;
  position: relative;
  display: inline-block;
  margin-right: 15px;
  margin-top: 0;
  left: 16px;
}
.cart-header {
  position: relative;
  display: inline-block;
  color: #ff6908;
  font-size: 22px;
}
