.css-form input.ng-invalid.ng-touched {
    background-color: #fee6e8;
}

.css-form input.ng-valid.ng-touched {
    background-color: #e6feea;
}

.css-form textarea.ng-invalid.ng-touched {
  background-color: #fee6e8;
}

.css-form textarea.ng-valid.ng-touched {
  background-color: #e6feea;
}

.error {
  color: $alert-color;
}

.ng-invalid.ng-dirty {
  color: $alert-color;
  border-color: $alert-color;

  &:focus {
    border-color: $alert-color;
  }
}

.menuFormInput {
  li {
    padding-bottom: 0;

    @media only screen and (max-width: $small-breakpoint) {
       label {
         float: none;
         background-color: #cde;
       }
    }

    .menuItemDescription {
      width: 200px;
    }

    .menuItemPrice {
      width: 80px;
    }
    .menuItemSection {
      width: 100px;
    }
  }
}
