
.error {
  color: $alert-color;
}

.menuFormInput {
  li {
    padding-bottom: 0;
  }
}

.profileForm {
  .merchantName {
    width: 380px;
  }

  .merchantDescription {
    li {
      padding-bottom: 10px;
    }
  }

  // .bannerButton {
  //   width: 130px;
  //   height: 60px;
  // }
  .cuisineType {
    width: 300px;
  }

  .bannerUpload {
    padding-bottom: 15px;
    i {
      position: absolute;
      float: top;
      top: 55%;
      left: 50%;
    }
  }

  .thumbUpload {
    width: 410px;
    height: 225px;
    i {
      position: absolute;
      float: top;
      top: 80%;
      left: 22%;
    }
  }
}

.customerName {
  width: 380px;
}