.section-header {
  h3 {
    margin-bottom: rem-calc(10);
  }

  hr {
    margin-top: 0;
    margin-bottom: rem-calc(30);
  }

  &.main {
    margin-top: rem-calc(30); 
  }
}

.hero {
  position: relative;
  width: 100%;
  margin: 0 0 2rem;
}

.landing .hero {
  height: 444px;
  background: url('../img/splash.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;

  .location-bar {
    display: table-cell;
    vertical-align: middle;

    input[type="text"], .prefix {
      height: 2.75rem;
      font-size: rem-calc(18);
      color: $white;
      background: rgba( $black, .2 );
      border-color: $white;
    }

    .prefix {
      line-height: 2.5rem;
    }

    input[type="text"] {
      border-left: none;
      padding-left: 0;
    }

    ::-webkit-input-placeholder {
      color: $white;
    }

    :-moz-placeholder {
      color: $white;
    }

    ::-moz-placeholder {
      color: $white;
    }

    :-ms-input-placeholder {
      color: $white;
    }

    .postfix {
      height: 2.75rem;
      font-size: rem-calc(24);
      line-height: 2.3125rem;
    }
  }
}
