<form>
  <ul class="menu-items-list">
    <li ng-repeat="item in menu.items" class="fadeIn">
      <div class="row">
        <div class="small-12 large-5 columns">
          <h3>{{$index + 1}}</h3>
          <input type="text" value="{{item.name}}" placeholder="Enter name" ng-model="item.name">
        </div>
        <div class="small-12 large-6 columns">
          <input type="text" value="{{item.description}}" placeholder="Enter description" ng-model="item.description">
        </div>
        <div class="small-12 large-1 columns">
          <input type="text" value="{{item.price}}" placeholder="$" ng-model="item.price">
        </div>
      </div>
    </li>
  </ul>
  <div class="grid-block">
    <div class="grid-content">
      <hr>
      <p>
        <a class="add-link" ng-click="addItem()">
          <i class="fa fa-plus"></i> Add Item
        </a>
      </p>
    </div>
  </div>
</form>
