
<a class="add-link" ng-click="show=true" style="float:right">
  <i class="fa fa-plus"></i> Add Item
</a>

<div class="small-12 large-12 columns">
  <!-- Bar for adding new food items-----------add these to css styles later----------->
  <div class="small-12 large-12 columns" ng-show="show" style="border: 5px solid #ff6600; background-color:#ffd1b3; border-radius: 10px; margin-top:10px; padding-top:20px ">
    <div class="small-5 large-5 columns">
      <p>Name  <input type="text" style="width: 300px" ng-model="food"/></p>
    </div>
    <div class="small-2 large-2 columns">
      <p>Price  <input type="text" style="width: 75px" ng-model="price"/></p>
    </div>
    <div class="small-2 large-2 columns">
      <p>Calories  <input type="text" style="width: 75px" ng-model="calories"/></p>
    </div>
    <div class="small-3 large-3 columns">
      <p>Average Wait Time  <input type="text" style="width: 75px" ng-model="prepTime"/></p>
    </div>
    <h4>Description </h4>
    <textarea name="" id="" cols="30" rows="5" ng-model="description"></textarea>
      <button class="button" ng-click="show=false">Cancel</button>
      <button class="button" ng-click="addItem(food, price, calories, description, prepTime)" style="float:right"> Add to Menu</button>
  </div>

<!------------- End of the add item bar ------------->

  <div ng-repeat="item in menu.items track by $index" class="fadeIn small- large-12 columns" style="border: 5px solid #ff6600; background-color:#ffd1b3; border-radius: 10px; margin-top:10px; padding-top:20px ">
    <div class="small-3 large-4 columns">
      <h4>{{item.food}}</h4>
    </div>
    <div class="small-2 large-2 columns" >
      <p>Price : ${{item.price}}</p>
    </div>
    <div class="small-2 large-1 columns" >
      <p>Cal : {{item.calories||" "}} </p>
    </div>
    <div class="small-2 large-2 columns" >
      <p>Time : {{item.prepTime}}mins</p>
    </div>
    <div class="small-3 large-3 columns" >
      <ul class="inline-list" style="float:right">
        <li>
        <li><button class="button tiny" ng-click="menu.remove($index)">Remove</button></li>
      <!--<button class="button tiny" >Edit</button></li>----------------Edit Button------>
      </ul>
    </div>
    <div class="small-9 large-9 columns" style="background-color:white; border-radius: 5px;">
      <p>{{item.description}}</p>
    </div>
    <div class="small-3 large-3 columns" style="text-align:right; padding-top:10px">
      <!--<button class="button">Out of Stock</button>-->
    </div>
  </div>
    <button ng-show="menu.items.length" ng-click="saveMenuItems(menu.items)">Save Menu</button>
</div>
