<div class="row">
  <header class="section-header main">
    <h2 class="subheader">Manage Menu</h2>
  </header>
  <div class="small-12 columns">
    <a class="add-link" ng-click="show=true" style="float:right">
      <i class="fa fa-plus"></i> Add Item
    </a>
  </div>

  <div class="small-12 columns">
    <form class="menuFormInput" ng-submit="saveMenuItem(menuItem)" ng-show="show" data-abide>
      <ul class="small-block-grid-1 medium-block-grid-4">
        <li>
          <div>
            <label>
              Name <small>required</small>
              <input type="text" class="menuItemName" ng-model="menuItem.name" required>
            </label>
            <small class="error">Name is required</small>
          </div>
        </li>
        <li>
          <label>
            Description
            <input class="menuItemDescription" ng-model="menuItem.description" type="text" />
          </label>
        </li>
        <li>
          <label class="right">
            Menu Section <small>required</small>
            <div>
              <select class="menuItemSection" name="" required>
                <option ng-repeat="section in selectSections" value="{{section}}">{{section}}</option>
              </select>
            </div>
          </label>
        </li>
        <li>
          <label>
            Price <small>required</small>
            <input type="number" class="menuItemPrice" min="0" ng-model="menuItem.price" required/>
          </label>
        </li>
      </ul>
      <label>
        <input type="checkbox" ng-model="menuItem.isGlutenFree" ng-change="toggle(menuItem.isGlutenFree)"> Gluten Free
      </label>
      <label>
        <input type="checkbox" ng-model="menuItem.isVegan" ng-change="toggle(menuItem.isVegan)"> Vegan
      </label>
      <label>
        <input type="checkbox" ng-model="menuItem.isDairyFree" ng-change="toggle(menuItem.isDairyFree)"> Dairy Free
      </label>
      <label>
        <input type="checkbox" ng-model="menuItem.isVegetarian" ng-change="toggle(menuItem.isVegetarian)"> Vegetarian
      </label>
      <div>
        <button class="button" type="submit"> Add to Menu</button>
        <button class="button" ng-click="clearItem()">Cancel</button>
      </div>
    </form>
  </div>

  <div class="small-12 columns">
    <ul class="menu-list">
      <li ng-repeat="item in menu.items track by $index" dnd-draggable="item" dnd-moved="list.splice($index, 1)" dnd-effect-allowed="move"
      dnd-selected="models.selected = item" ng-class="{'selected': models.selected === item}">
        {{item.name}}
        <i class="fa fa-leaf" ng-show="item.isVegetarian || item.isVegan"></i>
        <i class="fa fa-pagelines" ng-show="item.isVegan"></i>
        <span class="right">${{item.price}}</span>
      </li>
    </ul>
  </div>

</div>