<div class="row">
  <header class="section-header main">
    <h2 class="subheader">Manage Menu</h2>
  </header>
  <div class="small-12 columns">
    <a class="add-link" ng-click="show=true" style="float:right">
      <i class="fa fa-plus"></i> Add Item
    </a>
  </div>

  <div class="small-12 columns">
    <form class="menuFormInput" ng-submit="saveMenuItem(menuItem)" ng-show="show" data-abide>
      <ul class="small-block-grid-1 medium-block-grid-4">
        <li>
          <div>
            <label>
              Name <small>required</small>
              <input type="text" class="menuItemName" ng-model="menuItem.name" required>
            </label>
            <small class="error">Name is required</small>
          </div>
        </li>
        <li>
          <label>
            Description
            <input class="menuItemDescription" ng-model="menuItem.description" type="text" />
          </label>
        </li>
        <li>
          <label class="right">
            Menu Section <small>required</small>
            <div>
              <select class="menuItemSection" ng-model="menuItem.section.section" required>
                <option ng-repeat="section in selectSections" value="{{section}}">{{section}}</option>
              </select>
            </div>
          </label>
        </li>
        <li>
          <label>
            Price <small>required</small>
            <input type="number" class="menuItemPrice" min="0" ng-model="menuItem.price" required/>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" ng-model="menuItem.isGlutenFree" ng-change="toggle(menuItem.isGlutenFree)"> Gluten Free
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" ng-model="menuItem.isVegan" ng-change="toggle(menuItem.isVegan)"> Vegan
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" ng-model="menuItem.isDairyFree" ng-change="toggle(menuItem.isDairyFree)"> Dairy Free
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" ng-model="menuItem.isVegetarian" ng-change="toggle(menuItem.isVegetarian)"> Vegetarian
          </label>
        </li>
      </ul>
      <div>
        <button class="button" type="submit"> Add to Menu</button>
      </div>
    </form>
    <alert type="alert.type" close="itemExists = false" ng-show="itemExists">You cannot add Duplicate Items</alert>
  </div>



  <!--<div class="small-12 columns menuDrag" ng-repeat="(listName, list) in models.lists track by listName">
    <header class="section-header main">
      <h3 class="subheader">{{listName}}</h3>
    </header>
    <ul dnd-list="list" class="menu-list">
      <li ng-repeat="item in list" dnd-draggable="item" dnd-moved="list.splice($index, 1)" dnd-effect-allowed="move" dnd-selected="models.selected = item"
      ng-class="{'selected': models.selected === item}">
        {{item.name}}
        <i class="fa fa-leaf" ng-show="item.isVegetarian"></i>
        <i class="fa fa-pagelines" ng-show="item.isVegan"></i>
        <span class="right">${{item.price}}</span>
      </li>
    </ul>
  </div>-->

  <div class="small-12 columns menuDrag">
    <ul dnd-list="models.dropzones.menu" dnd-allowed-types="models.sectionType">
      <li ng-repeat="section in models.dropzones.menu" dnd-draggable="section" dnd-type="section.type" dnd-effect-allowed="move"
      dnd-moved="models.dropzones.menu.splice($index, 1)" dnd-selected="models.selected = section" ng-class="{selected: models.selected === item}">
        <header class="section-header main">
          <h3 class="subheader">{{section.section}}</h3>
        </header>
        <div>
          <ul class="menu-list" dnd-list="section.container" dnd-allowed-types="section.allowedTypes">
            <li ng-repeat="food in section.container" dnd-draggable="food" dnd-type="food.type" dnd-effect-allowed="move" dnd-moved="section.container.splice($index, 1)"
            dnd-selected="models.selected = food" ng-class="{selected: models.selected === food}">
              {{food.name}}
              <i class="fa fa-leaf" ng-show="food.isVegetarian"></i>
              <i class="fa fa-pagelines" ng-show="food.isVegan"></i>
              <i class="fa fa-trash right deleteMenuItem" ng-click="deleteMenuItem(food)"></i>
              <span class="right">${{food.price}}</span>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <button ng-show="models.dropzones.menu.length">Save Menu</button>

</div>