<header class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Zibzoo</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li>
          <a href="#"
             ui-sref="merchant({merchantId: user._id})"
             ng-show="user.isVendor">Profile</a>
        </li>
        <li>
          <a href="#"
             ui-sref="menu({merchantId: user._id})"
             ng-show="user.isVendor">Menu</a>
        </li>
        <li>
          <a href="#"
             ui-sref="orders({merchantId: user._id})"
             ng-show="user.isVendor">Orders</a>
        </li>
        <li>
          <a href=""
             ng-click="signin()"
             ng-show="!isAuth()">Login</a>
        </li>
        <li>
          <a href=""
             ng-click="signout()"
             ng-show="isAuth()">Logout</a>
        </li>
        <li>
          <a ui-sref="cart"
             ng-model="user"
             ng-show="isAuth() && user.orders.length > 0">
            <i class="fa fa-shopping-cart fa"></i> {{user.orders.length}}
          </a>
        </li>
      </ul>
    </section>
  </nav>
</header>
