<header class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Zibzoo</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><a href="" ng-click="open()" ng-show="!isAuth()">Login</a></li>
        <li><a href="" ng-click="signout()" ng-show="isAuth()">Logout</a></li>
        <li>
          <a ui-sref="cart" ng-model="items" ng-show="isAuth() && items.length > 0">
            <i class="fa fa-shopping-cart fa"></i> {{items.length}}
          </a>
        </li>
      </ul>
    </section>
  </nav>
</header>
