<div class="row">
  <header class="section-header main">
    <h2 class="subheader">Manage Profile</h2>
  </header>
  <div class="small-12 large-12 columns">
    <form ng-submit="updateVendor(vendor)" class="profileForm">
      <div>
        <ul class="small-block-grid-1 merchantDescription">
          <li>
            <div>
              <label>
                Business Name <small>required</small>
                <input class="merchantName" ng-submit="updateVendor(vendor)" ng-model="vendor.name" required>
              </label>
            </div>
          </li>
          <li>
            <div class="cuisineType">
              <label>
                Cuisine <small>required</small>
                <select ng-model="vendor.cuisine" required>
                  <option ng-repeat="cuisine in cuisines" value="{{cuisine}}">{{cuisine}}</option>
                </select>
              </label>
            </div>
          </li>
          <li>
            <label>
              Description <small>required</small>
              <textarea ng-model="vendor.description"></textarea>
            </label>
          </li>
          <li>
            <label>
              Stripe Api Key <small>required</small>
              <input type="text" ng-model="vendor.stripeApiKey" required>
            </label>
          </li>
          <li>
            <label>
              Location <small>required</small>
            </label>
            <ul class="small-block-grid-1 medium-block-grid-2">
              <li>
                <label>
                  Latitude
                  <input type="number" step="any" ng-model="vendor.latitude" required>
                </label>
              </li>
              <li>
                <label>
                  Longitude
                  <input type="number" step="any" ng-model="vendor.longitude" required>
                </label>
              </li>
            </ul>
          </li>
        </ul>
        <div class="bannerUpload" ngf-select="upload($file, 'banner')">
          <i ng-show="vendor.data.bannerImageUrl" class="fa fa-upload fa-3x"></i>
          <img ng-src="{{bannerImg}}" alt="">
        </div>
        <ul class="small-block-grid-1">
          <li>
            <div class="thumbUpload" ngf-select="upload($file, 'thumb')">
              <img ng-src="{{thumbImg}}" alt="">
              <i ng-show="vendor.data.bannerImageUrl" class="fa fa-upload fa-3x"></i>
            </div>
          </li>
        </ul>
      </div>
      <button type="submit">Save Profile</button>
    </form>
  </div>
</div>