<div class="row">
  <header class="section-header main">
    <h2 class="subheader">Manage Profile</h2>
  </header>
  <div class="small-12 large-12 columns">
    <form ng-submit="updateVendor(vendor)" class="profileForm">
      <div>
        <ul class="small-block-grid-1 merchantDescription">
          <li>
            <div>
              <label>
                Business Name <small>required</small>
                <input class="merchantName" ng-submit="updateVendor(vendor)" ng-model="vendor.name" required>
              </label>
            </div>
          </li>
          <li>
            <div class="cuisineType">
              <label>
                Cuisine <small>required</small>
                <select ng-model="vendor.cuisine" required>
                  <option ng-repeat="cuisine in cuisines" value="{{cuisine}}">{{cuisine}}</option>
                </select>
              </label>
            </div>
          </li>
          <li>
            <label>
              Location <small>Set to your trucks location</small>
            </label>
            <ul class="small-block-grid-1 medium-block-grid-4">
              <li>
                <label>
                  <a class="button setLocation" ng-click="setLocation()">Set Truck Location</a>
                </label>
              </li>
              <li>
                <alert type="alert.type" class="setLocation" close="locationSuccess = false" ng-show="locationSuccess">Current Location Set!</alert>
              </li>
            </ul>
          </li>
          <li>
            <label>
              Description <small>required</small>
              <textarea ng-model="vendor.description"></textarea>
            </label>
          </li>
          <li>
            <label>
              Stripe Api Key <small>required</small>
              <input type="text" ng-model="vendor.stripeApiKey" required>
            </label>
          </li>
        </ul>
        <div class="row">
          <label>
            If your images are not displayed properly please upload the correct size.
          </label>
          <div class="bannerUpload" ngf-select="upload($file, 'banner')">
            <i ng-if="!vendor.bannerImageUrl" class="fa fa-upload fa-3x"></i>
            <img ng-src="{{bannerImg}}" alt="">
          </div>
          <label>
            1000px x 344px
          </label>
          <ul class="small-block-grid-1">
            <li>
              <div class="thumbUpload" ngf-select="upload($file, 'thumb')">
                <i ng-if="!vendor.thumbImageUrl" class="fa fa-upload fa-3x"></i>
                <img ng-src="{{thumbImg}}" alt="">
              </div>
              <label>
                410px x 225px
              </label>
            </li>
          </ul>
        </div>
        <button class="profileSubmit" type="submit">Save Profile</button>
      </div>
    </form>
  </div>
</div>