<div class="row">
  <div class="small-12 large-12 columns">
    <form novalidate class="css-form">
      <h3> Vendor's Information</h3>
      <!----------------------------------Vendor Image and Description-------------------------------------------->
      <input type="text" ng-model="vendor.username" ng-model-options="{ updateOn: 'blur' }" required />
      <!----------------------Name Input-------------------------->
      <div class="row">
        <div class="small-4 large-4 columns">
          <img src={{img}} alt="">
          <!--Should display the vendor profile picture or a default if non provided-->
        </div>
        <div class="small-8 large-8 columns">
          <h4>Description </h4>
          <textarea rows="7" cols="1" ng-model="vendor.description" type="text" ng-model-options="{ updateOn: 'blur' }" required>
            {{vendor.description}}
          </textarea>
          <h4>Vendor Image</h4>

          <div class="button" ngf-select="upload($file)">Upload New Profile Image </div>
        </div>
        <div>

          <div>
            <a class="button dropdown" dropdown-toggle="#filter-dropdown">Select a Category</a>
            <ul id="filter-dropdown" class="f-dropdown">
              <li ng-repeat="cuisine in cuisines" ng-click="vendor.cuisine = food">
                {{cuisine}}
              </li>
            </ul>
          </div>


          <!----------------------------------Open Hours-------------------------------------------
    Come back and have default selections set to the vendors information, IsOpen/Hours
---------------------------------------------------------------------------------------->
          <!--<div class="row" ng-repeat="(keys,data) in schedule">
        <div class="large-2 columns">
          <h4> {{keys}} </h4>
        </div>
        <div class="large-1 columns">
          <label >Open</label> <input type="radio" name="{{keys}}" >
        </div>
        <div class="large-1 columns">
          <label >Close</label> <input type="radio" name="{{keys}}"  >
        </div>
        <div ng-selected='open' class="large-5 columns end">
          <div class="large-2 columns">
            <select >
              <option ng-repeat="hour in hour">{{hour}}</option>
            </select>
          </div>
          <div class="large-2 columns">
            <select >
              <option ng-repeat="min in min">{{min}}</option>
            </select>
          </div>
          <div class="large-2 columns">
            <select >
              <option ng-repeat="hour in hour">{{hour}}</option>
            </select>
          </div>
          <div class="large-2 columns end ">
            <select >
            <option ng-repeat="min in min">{{min}}</option>
            </select>
          </div>
        </div>
      </div>-->

          <!------------------------------Save Button--------------------------------------->
          <button ng-click="updateVendor(vendor) " type="save">SAVE Profile</button>

    </form>
    </div>
    </div>