<form class="medium-6 medium-offset-3 columns">
  <div class="row">
    <div class="large-12 columns">
      <tabset>
        <tab heading="Login" active="tab.active">
          <div class="row">
            <div class="large-12 columns">
              <label>Email
                <input type="email" name="email" ng-model="user.email">
              </label>
            </div>
            <div class="large-12 columns">
              <label>Password
                <input type="password" name="password" ng-model="user.password">
              </label>
            </div>
            <div class="large-6 columns">
              <input id="remember-me" type="checkbox" ng-model="user.remember"><label for="remember-me">Remember Me</label>
            </div>
            <div class="large-12 columns">
              <button class="button expand large">Login</button>
            </div>
          </div>
        </tab>
        <tab heading="Sign Up"> 
          <div class="row">
            <div class="large-12 columns">
              <label>Email
                <input type="email" name="email" ng-model="user.email">
              </label>
            </div>
            <div class="large-12 columns">
              <label>Password (6 char minimum)
                <input type="password" name="password" ng-model="user.password">
              </label>
            </div>
            <div class="large-12 columns">
              <label>Confirm Password
                <input type="password" name="confirmPassword" ng-model="user.confirmPassword">
              </label>
            </div>
            <div class="large-12 columns">
              <button class="button expand large">Sign Up</button>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</form>
